In [2]:
import pandas as pd

In [42]:
data = pd.read_csv('soft-attributes.csv')

In [4]:
data

,rater_id,reference_title,soft_attribute,less_than,about_as,more_than
0,1,Forrest Gump (1994),action filled,NaN,"[""Good Will Hunting (1997)"",""Ghost (1990)"",""Sn...","[""Crouching Tiger, Hidden Dragon (Wo hu cang l..."
1,1,The Silence of the Lambs (1991),animated,NaN,"[""Good Will Hunting (1997)"",""Pulp Fiction (199...","[""Alien (1979)"",""E.T. the Extra-Terrestrial (1..."
2,1,Jurassic Park (1993),artsy,"[""Monsters, Inc. (2001)"",""Home Alone (1990)"",""...","[""The Sixth Sense (1999)"",""Alien (1979)""]","[""The Lion King (1994)"",""Pulp Fiction (1994)"",..."
3,1,The Incredibles (2004),believable,"[""Monsters, Inc. (2001)"",""Harry Potter and the...",NaN,"[""The Silence of the Lambs (1991)"",""Crouching ..."
4,1,The Incredibles (2004),big budget,"[""The Sixth Sense (1999)"",""Snow White and the ...","[""Chicken Run (2000)"",""Schindler's List (1993)...","[""Harry Potter and the Sorcerer's Stone (a.k.a..."
...,...,...,...,...,...,...
5986,100,Batman Forever (1995),typical,"[""Jaws (1975)"",""Honey, I Shrunk the Kids (1989...","[""The Terminator (1984)"",""Kill Bill: Vol. 2 (2...","[""Scream (1996)"",""The Lost World: Jurassic Par..."
5987,100,Indiana Jones and the Temple of Doom (1984),unique story,"[""Charlie's Angels (2000)"",""The Dark Knight (2...","[""Armageddon (1998)"",""Apollo 13 (1995)"",""Catch...","[""Harry Potter and the Chamber of Secrets (200..."
5988,100,Armageddon (1998),unrealistic,"[""Titanic (1997)"",""Happy Gilmore (1996)""]","[""Raiders of the Lost Ark (Indiana Jones and t...","[""Batman (1989)"",""The Dark Knight (2008)"",""Men..."
5989,100,X2: X-Men United (2003),violent,"[""Addams Family Values (1993)"",""Apollo 13 (199...","[""The Bourne Identity (2002)"",""Mission: Imposs...",NaN
5990,100,Men in Black (a.k.a. MIB) (1997),well directed,"[""Scream (1996)"",""Sin City (2005)"",""Finding Ne...","[""The Dark Knight (2008)"",""The Lord of the Rin...","[""Shrek 2 (2004)"",""Beverly Hills Cop III (1994..."

In [6]:
print(data)

      rater_id                              reference_title soft_attribute  \
0            1                          Forrest Gump (1994)  action filled
1            1              The Silence of the Lambs (1991)       animated
2            1                         Jurassic Park (1993)          artsy
3            1                       The Incredibles (2004)     believable
4            1                       The Incredibles (2004)     big budget
...        ...                                          ...            ...
5986       100                        Batman Forever (1995)        typical
5987       100  Indiana Jones and the Temple of Doom (1984)   unique story
5988       100                            Armageddon (1998)    unrealistic
5989       100                      X2: X-Men United (2003)        violent
5990       100             Men in Black (a.k.a. MIB) (1997)  well directed

                                              less_than  \
0                                                   NaN
1                                                   NaN
2     ["Monsters, Inc. (2001)","Home Alone (1990)","...
3     ["Monsters, Inc. (2001)","Harry Potter and the...
4     ["The Sixth Sense (1999)","Snow White and the ...
...                                                 ...
5986  ["Jaws (1975)","Honey, I Shrunk the Kids (1989...
5987  ["Charlie's Angels (2000)","The Dark Knight (2...
5988          ["Titanic (1997)","Happy Gilmore (1996)"]
5989  ["Addams Family Values (1993)","Apollo 13 (199...
5990  ["Scream (1996)","Sin City (2005)","Finding Ne...

                                               about_as  \
0     ["Good Will Hunting (1997)","Ghost (1990)","Sn...
1     ["Good Will Hunting (1997)","Pulp Fiction (199...
2             ["The Sixth Sense (1999)","Alien (1979)"]
3                                                   NaN
4     ["Chicken Run (2000)","Schindler's List (1993)...
...                                                 ...
5986  ["The Terminator (1984)","Kill Bill: Vol. 2 (2...
5987  ["Armageddon (1998)","Apollo 13 (1995)","Catch...
5988  ["Raiders of the Lost Ark (Indiana Jones and t...
5989  ["The Bourne Identity (2002)","Mission: Imposs...
5990  ["The Dark Knight (2008)","The Lord of the Rin...

                                              more_than
0     ["Crouching Tiger, Hidden Dragon (Wo hu cang l...
1     ["Alien (1979)","E.T. the Extra-Terrestrial (1...
2     ["The Lion King (1994)","Pulp Fiction (1994)",...
3     ["The Silence of the Lambs (1991)","Crouching ...
4     ["Harry Potter and the Sorcerer's Stone (a.k.a...
...                                                 ...
5986  ["Scream (1996)","The Lost World: Jurassic Par...
5987  ["Harry Potter and the Chamber of Secrets (200...
5988  ["Batman (1989)","The Dark Knight (2008)","Men...
5989                                                NaN
5990  ["Shrek 2 (2004)","Beverly Hills Cop III (1994...

[5991 rows x 6 columns]

In [34]:
data['reference_title'].str[-5:-1]

0       1994
1       1991
2       1993
3       2004
4       2004
        ...
5986    1995
5987    1984
5988    1998
5989    2003
5990    1997
Name: reference_title, Length: 5991, dtype: object

In [43]:
data['year'] = data['reference_title'].str[-5:-1]

In [44]:
data['reference_title'] = data['reference_title'].str[:-7]

In [45]:
data['reference_title'] = data['reference_title'].str.lower()

In [46]:
data

,rater_id,reference_title,soft_attribute,less_than,about_as,more_than,year
0,1,forrest gump,action filled,NaN,"[""Good Will Hunting (1997)"",""Ghost (1990)"",""Sn...","[""Crouching Tiger, Hidden Dragon (Wo hu cang l...",1994
1,1,the silence of the lambs,animated,NaN,"[""Good Will Hunting (1997)"",""Pulp Fiction (199...","[""Alien (1979)"",""E.T. the Extra-Terrestrial (1...",1991
2,1,jurassic park,artsy,"[""Monsters, Inc. (2001)"",""Home Alone (1990)"",""...","[""The Sixth Sense (1999)"",""Alien (1979)""]","[""The Lion King (1994)"",""Pulp Fiction (1994)"",...",1993
3,1,the incredibles,believable,"[""Monsters, Inc. (2001)"",""Harry Potter and the...",NaN,"[""The Silence of the Lambs (1991)"",""Crouching ...",2004
4,1,the incredibles,big budget,"[""The Sixth Sense (1999)"",""Snow White and the ...","[""Chicken Run (2000)"",""Schindler's List (1993)...","[""Harry Potter and the Sorcerer's Stone (a.k.a...",2004
...,...,...,...,...,...,...,...
5986,100,batman forever,typical,"[""Jaws (1975)"",""Honey, I Shrunk the Kids (1989...","[""The Terminator (1984)"",""Kill Bill: Vol. 2 (2...","[""Scream (1996)"",""The Lost World: Jurassic Par...",1995
5987,100,indiana jones and the temple of doom,unique story,"[""Charlie's Angels (2000)"",""The Dark Knight (2...","[""Armageddon (1998)"",""Apollo 13 (1995)"",""Catch...","[""Harry Potter and the Chamber of Secrets (200...",1984
5988,100,armageddon,unrealistic,"[""Titanic (1997)"",""Happy Gilmore (1996)""]","[""Raiders of the Lost Ark (Indiana Jones and t...","[""Batman (1989)"",""The Dark Knight (2008)"",""Men...",1998
5989,100,x2: x-men united,violent,"[""Addams Family Values (1993)"",""Apollo 13 (199...","[""The Bourne Identity (2002)"",""Mission: Imposs...",NaN,2003
5990,100,men in black (a.k.a. mib),well directed,"[""Scream (1996)"",""Sin City (2005)"",""Finding Ne...","[""The Dark Knight (2008)"",""The Lord of the Rin...","[""Shrek 2 (2004)"",""Beverly Hills Cop III (1994...",1997

In [52]:
forestg = data[data['reference_title'] == 'forrest gump']

,rater_id,reference_title,soft_attribute,less_than,about_as,more_than,year
0,1,forrest gump,action filled,NaN,"[""Good Will Hunting (1997)"",""Ghost (1990)"",""Sn...","[""Crouching Tiger, Hidden Dragon (Wo hu cang l...",1994
9,1,forrest gump,cheesy,"[""Schindler's List (1993)"",""The Sixth Sense (1...","[""Crouching Tiger, Hidden Dragon (Wo hu cang l...",NaN,1994
24,1,forrest gump,gory,"[""E.T. the Extra-Terrestrial (1982)"",""Toy Stor...","[""Ghost (1990)""]","[""The Sixth Sense (1999)"",""Spider-Man (2002)"",...",1994
31,1,forrest gump,juvenile humor,"[""Ghost (1990)"",""The Silence of the Lambs (199...","[""Chicken Run (2000)"",""Home Alone (1990)"",""The...",NaN,1994
34,1,forrest gump,mainstream,"[""Toy Story 2 (1999)"",""E.T. the Extra-Terrestr...","[""Pulp Fiction (1994)"",""Crouching Tiger, Hidde...",NaN,1994
...,...,...,...,...,...,...,...
5401,91,forrest gump,complicated,"[""Clueless (1995)"",""Austin Powers: Internation...",NaN,NaN,1994
5493,92,forrest gump,pointless,"[""The Godfather (1972)"",""Goodfellas (1990)"",""I...","[""Star Trek: Generations (1994)"",""Species (199...","[""Edward Scissorhands (1990)"",""Judge Dredd (19...",1994
5837,98,forrest gump,heartfelt,"[""Aliens (1986)"",""The Blair Witch Project (199...","[""Beautiful Mind, A (2001)"",""Few Good Men, A (...","[""Legends of the Fall (1994)"",""Stand by Me (19...",1994
5864,98,forrest gump,tongue and cheek,"[""Toy Story (1995)"",""Beauty and the Beast (199...","[""Armageddon (1998)"",""The Fugitive (1993)""]","[""Chasing Amy (1997)"",""Sin City (2005)"",""Ameri...",1994
5913,99,forrest gump,pointless,"[""Kill Bill: Vol. 1 (2003)"",""The Rock (1996)"",...","[""Mary Poppins (1964)"",""Office Space (1999)"",""...","[""Bug's Life, A (1998)""]",1994